* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  background-image: url(../img/bg.png);
  font-family: "Roboto", sans-serif;
}

/* Titolo */
h1 {
  margin: 30px auto;
  border-radius: 5px;
  width: 70%;
  text-align: center;
  background-color: rgba(0, 0, 255, 0.8);
  font-weight: 900;
  font-size: 50px;
}

/* Contenitore del carousel*/
.wrapper {
  width: 80%;
  height: 70vh;
  margin: 30px auto;
  text-align: center;
  position: relative;
}

/* Elementi prima e dopo con frecce */
.previous,
.next {
  display: inline-block;
  width: 5%;
}

.previous i,
.next i {
  font-size: 40px;
  cursor: pointer;
}

/*Carousel di immagini*/
.carousel {
  margin: 0 5%;
  font-size: 0;
  width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* Immagini del carousel (generiche) */
.carousel img {
  display: none;
}

/* Immagine del carousel attiva */
img.active {
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Bullet points al fondo del carousel di immagini */
.bullets {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 50px;
  background-color: blue;
  border-radius: 5px;
  line-height: 50px;
}

/* Bullet points (generici) */
.bullets i {
  padding: 3px;
  color: #fff;
  cursor: pointer;
}

/* Bullet point attivo */
.bullets i.active {
  color: #000;
  transform: scale(1.5);
}
